body { 
 background-color: #b4a5a5;
 font-family: 'Oswald', sans-serif;
 color: purple;
 font-weight: 300;
 font-size: 20px;
 text-align: center;
}

h1  { 
	color: brown;
	font-family: Helvetica;
	color: #6E75A8;
	font-weight:450
	letter-spacing:3px;
	font-size:55;
	text-align: center;
}

h2  { 
	color: #301b3f;
	font-family: Helvetica;
	font-weight:300
	letter-spacing:3px;
	font-size:55;
	text-align: center;
}



a {
	text-decoration: none;
	color: #6b73e1;
	font-weight:400;
	text-align: center;
}

a:hover {
	color:white;
	font-weight:2500;
}
element.style {
    background: #f8f4e1;
    padding: 60px;
    margin: 50px;
    box-shadow: 0px 10px 30px rgb(0 0 0 / 10%);
    border-radius: 6px;
}


.container {
  width: 1600px;
  margin: 30px auto;
  }

@media (max-width: 600px) {
  .container {
    width: 400px;
  }
}
@media (max-width: 600px) {
  .container {
    width: 300px;
  }
}
@media (max-width: 600px) {
  .container {
    width: 300px;
  }
}

.card-white {
  background: #8D91C7;
  padding: 40px;
  margin: 30px;
  box-shadow: 5px 20px 20px rgb(0 0 0 / 10%);
  border-radius: 10px;
  text-align: center;
  }

.img-circle {
border-radius: 70%
}

.btn-blue {
  background-color: #B0DAF1;
  color: #845A6d;
  padding:40px;
  border-radius: 10px;
  }

.btn-blue:hover {
color: #B0DAF1
}

.list-inline {
  ;list-style: none;
  padding-left: 10px;
  }

  .list-inline li {
    display: inline;
    padding: 10px;
  }

